<div>({{displayRange?.skip + 1}} - {{displayRange?.skip + displayRange?.take}}) / {{items?.length}} ID: {{selectedItem?.item.id}}</div>
<virtual-scroll
  [itemKey]="'id'"
  [itemHeight]="64"
  [listLength]="listLength"
  [items]="items"
  [range]="range"
  (scrollingChanged)="onScrollingChanged($event)"
  (displayRangeChanged)="onDisplayRangeChanged($event)"
  (rangeChanged)="onRangeChanged($event)"
  (selectedItemChanged)="onSelectedItemChanged($event)">
  <app-list-item *virtualScrollItem="let item"
    [item]="item"
    [ngClass]="{'active': item.id == selectedItem?.item.id}">
  </app-list-item>
</virtual-scroll>