html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

app-root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

app-list {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

app-list-item {
    display: block;
    width: 100%;
    height: 64px;
}

app-list-item.active {
    background-color: teal;
}