:host {
    overflow: auto;
    position: relative;
    display: block;
}

:host > div:first-child {
    width: 1px;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

:host > div:last-child {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
}